@model IEnumerable<PlatformService.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Devices</h1>

@if (User.IsInRole("User"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@if (User.IsInRole("User"))
{
    if (Model.Where(d => d.Profile != null && d.Profile.UserName.Equals(User.Identity.Name)).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PictureName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(d => d.Profile != null && d.Profile.UserName.Equals(User.Identity.Name)))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @if (item.PictureName != null)
                            {
                                <img src="~/Pictures/@Html.DisplayFor(modelItem => item.PictureName)" alt="" height="50px" width="50px" />
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.PictureName)
                            }
                        </td>
                        <td>
                            <button class="btn btn-outline-warning">
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            </button>
                            <button class="btn btn-outline-primary">
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                            </button>
                            <button class="btn btn-outline-danger">
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>
            You have not created any devices yet.
        </p>
    }
}
else
{
    if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @if (item.PictureName != null)
                        {
                            <img src="~/Pictures/@Html.DisplayFor(modelItem => item.PictureName)" alt="" height="50px" width="50px" />
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PictureName)
                        }
                    </td>
                    <td>
                        <button class="btn btn-outline-primary">
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </button>
                        <button class="btn btn-outline-danger">
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </button>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>
            There are no devices in database.
        </p>
    }
}